ion-card {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-card-header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    padding: 10px 15px;
}

ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
}

ion-card-subtitle {
    color: #666;
}

ion-card-content {
    font-size: 1em;
    padding: 15px;
}

ion-content {
    --padding-top: 10px;
}

ion-item-divider {
    --background: #f1c40f;
    --color: #ffffff;
    font-weight: bold;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

a:hover {
    text-decoration: underline;/* Opcional: Añade subrayado al pasar el mouse */
}

ul {
    list-style-type: disc;/* Tipo de viñeta */
    padding-left: 20px;/* Espacio a la izquierda de las viñetas */
}

li {
    margin-bottom: 10px; /* Espacio entre las viñetas */
}

h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}