<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Directorio Telefónico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Teléfonos:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li><a href="tel:+523525260680">352 526 0680</a></li>
        <li><a href="tel:+523525262369">352 526 2369</a></li>
        <li><a href="tel:+523525262294">352 526 2294</a></li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- <a href="tel:+524691345732">Llamar a pikis</a> -->

  <ion-list>
    <ion-item-divider>DIRECCIÓN</ion-item-divider>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Christian Omar Martinez Cámara</ion-card-title>
        <ion-card-subtitle>DIRECCIÓN</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>dir_piedad&commat;tecnm.mx</p>
        <ion-row>
          <ion-col size="10">
            <h4>SECRETARIA</h4>
          </ion-col>
          <ion-col size="2">
            <h4>101</h4>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-item-divider>SUBDIRECCIÓN ADMINISTRATIVA</ion-item-divider>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Francisco Sebastian Ruiz Moreno</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>SUBDIRECCIÓN DE SERVICIOS ADMINISTRATIVOS</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>103</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>admon_piedad&commat;tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>José Juan Cabeza Ortega</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>CENTRO DE CÓMPUTO</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>123</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_cc&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>David Ortiz Luna</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>RECURSOS FINANCIEROS</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>108</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_rf&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Juan Ismael Córtes Cabrera</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>RECURSOS MATERIALES Y SERVICIOS</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>114</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_rms&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Beatriz Adriana Herrera Bribiesca</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>RECURSOS HUMANOS</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>107</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_rh&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>


    <ion-item-divider>SUBDIRECCIÓN DE PLANEACIÓN</ion-item-divider>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Jorge Zúñiga Ramos</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>SUBDIRECCIÓN DE PLANEACIÓN Y VINCULACIÓN</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>105</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>plan_piedad&commat;tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Eduardo Arellano Ruiz</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>PLANEACIÓN, PROGRAMACIÓN Y PRESUPUESTACIÓN</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>106</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_ppp&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>José Antonio Solorio Leyva</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>COMUNICACIÓN Y DIFUSIÓN</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>110</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_cyd&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>María Magdalena Salazar Vargas</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>SERVICIOS ESCOLARES</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>121</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_se&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rodolfo Magaña Fernández</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>CENTRO DE INFORMACIÓN</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>115</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_ci&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>


    <ion-item-divider>SUBDIRECCIÓN ACADÉMICA</ion-item-divider>
    <ion-card>
      <ion-card-header>
        <ion-card-title>María de Lourdes González Ayala</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>SUBDIRECCIÓN ACADÉMICA</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>104</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>sub_acad&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Maricela Flores Ramírez</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>CIENCIAS ECONÓMICO ADMINISTRATIVAS</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>135</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>depto_cea&commat;piedad.tecnm.mx</p>
      </ion-card-content>
    </ion-card>


    <ion-item-divider>SINDICATO</ion-item-divider>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ana Raquel Salazar Zaragoza</ion-card-title>
        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>DELEGACIÓN SINDICAL DV-58</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-card-subtitle>112</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>

  </ion-list>


</ion-content>