<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-content>
  <ion-grid>
    <!-- Calendario -->
    <ion-row>
      <ion-col size-md="12">
        <div class="header-home">
          <p class="d-flex-center" style="font-size: medium; color: #c9c506;"><b> CALENDARIO DE ACTIVIDADES DEL
              SEMESTRE</b></p>
          <p class="d-flex-center" style="font-size: larger; color: #000000;"><strong> ENERO - JULIO 2024</strong></p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-segment>
          <ion-segment-button value="tasks" routerLink="../view-tasks">Tareas
          </ion-segment-button>

          <ion-segment-button value="notes" routerLink="../notes">Notas
          </ion-segment-button>
        </ion-segment>

        <ion-datetime presentation="date" [highlightedDates]="highlightedDates">
        </ion-datetime>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <h2>Colorimetría</h2>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #3BF62C"></div>
            </ion-col>
            <ion-col size="10">Reinscripciones</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #14830B"></div>
            </ion-col>
            <ion-col size="10">Inicio de clases</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #EF1919"></div>
            </ion-col>
            <ion-col size="10">Reinscripciones tardías</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #780C0C"></div>
            </ion-col>
            <ion-col size="10">Bajas de materias</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #8B8585"></div>
            </ion-col>
            <ion-col size="10">Suspensión, día inhábil</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #0D0C0C"></div>
            </ion-col>
            <ion-col size="10">Vacaciones</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #FFC300"></div>
            </ion-col>
            <ion-col size="10">Ceremonia de Egresados</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #900C3F"></div>
            </ion-col>
            <ion-col size="10">Fin de clases</ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row>
            <ion-col size="2">
              <div class="circle" style="background-color: #EE5916"></div>
            </ion-col>
            <ion-col size="10">Cursos de verano</ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="d-flex-center" style="text-align: center; font-size: small;">
  <p>Derechos reservados Esmeralda Zambrano® 21640015</p>
</ion-footer>