ion-datetime {
  color: black;
  margin: 0 auto;
}

ion-datetime::part(calendar-day) {
  color: black;
  // border-radius: 0px; // se hace cuadrado
}

ion-datetime::part(calendar-day):focus {
  background-color: rgb(154 209 98 / 0.2);
  box-shadow: 0px 0px 0px 4px rgb(154 209 98 / 0.2);
}

// Definir el tamaño y el color del círculo
$circle-size: 20px;

// Estilos para el círculo
.circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%; // Hace que el cuadrado se convierta en un círculo
}

.header-home {
  margin: 0 auto;
  text-align: center;
}