ion-datetime {
    color: black;
    width: 290px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 30px;

}

ion-datetime::part(calendar-day) {
    color: black;
    border-radius: 0px; // se hace cuadrado
    // border: 1px solid #e40e0e;
}
ion-datetime::part(calendar-day):first-child {
    background-color: red;
}


ion-datetime::part(calendar-day):focus {
    background-color: rgb(154 209 98 / 0.2);
    box-shadow: 0px 0px 0px 4px rgb(154 209 98 / 0.2);
}

