<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Notas -->
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <div class="notes">
        <ion-input [(ngModel)]="newNote" type="text" placeholder="Agregar una nota"></ion-input>
        <ion-button expand="block" color="primary" (click)="createNote()">Guardar</ion-button>
        <!-- Aquí se listan las notas guardadas -->
        <p>Notas:</p>
        <ul>
          <li *ngFor="let nota of notes">{{ nota.content }}
            <!-- <ion-button color="danger" (click)="deleteNote(nota)">Eliminar</ion-button> -->
          </li>
        </ul>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
