<app-header [isModal]="true" [title]="task ? 'Actualizar tarea': 'Agregar tarea'"></app-header>

<ion-content class="content">

  <form [formGroup]="form1" (ngSubmit)="submit()" class="ion-padding ion-text-center" (keypress.enter)="submit()">
    <ion-grid fixed>
      <ion-card class="ion-padding">
        <ion-item>
          <ion-input labelPlacement="floating" label="Titulo" type="text"
            [formControl]="form1.controls.title"></ion-input>
          <div class="validators" *ngIf="form1.controls.title.errors && form1.controls.title.touched">
            <div *ngIf="form1.controls.title.errors?.['required']">El titulo es requerido</div>
          </div>
        </ion-item>

        <ion-item>
          <ion-input labelPlacement="floating" label="Descripción" type="text"
            [formControl]="form1.controls.description"></ion-input>
          <div class="validators" *ngIf="form1.controls.description.errors && form1.controls.description.touched">
            <div *ngIf="form1.controls.description.errors?.['required']">La descripción es requerida</div>
          </div>
        </ion-item>
      </ion-card>


      <ion-card class="ion-padding">

        <ion-item>
          <ion-label>Todo el día</ion-label>
          <ion-checkbox [formControl]="form1.controls.all_day" slot="end" (ionChange)="toggleAllDay()"></ion-checkbox>
        </ion-item>

        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Fecha inicio</ion-label>
              <ion-input [formControl]="form1.controls.start_date" type="date"
                placeholder="Seleccione la fecha de inicio"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Hora inicio</ion-label>
              <ion-input [formControl]="form1.controls.start_time" type="time"
                placeholder="Seleccione la hora de inicio"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Fecha fin</ion-label>
              <ion-input [formControl]="form1.controls.end_date" type="date"
                placeholder="Seleccione la fecha de fin"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Hora fin</ion-label>
              <ion-input [formControl]="form1.controls.end_time" type="time"
                placeholder="Seleccione la hora de fin"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>


      <ion-card class="ion-padding">
        <ion-row>
          <ion-col size="12"></ion-col>
          <ion-label>Seleccionar color</ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <div class="circle" style="background-color: #2ecc71" (click)="selectColor('#2ecc71')"
              [ngClass]="{'selected': selectedColor === '#2ecc71'}"></div>
          </ion-col>
          <ion-col size="2">
            <div class="circle" style="background-color: #ff9f43" (click)="selectColor('#ff9f43')"
              [ngClass]="{'selected': selectedColor === '#ff9f43'}"></div>
          </ion-col>
          <ion-col size="2">
            <div class="circle" style="background-color: #9b59b6" (click)="selectColor('#9b59b6')"
              [ngClass]="{'selected': selectedColor === '#9b59b6'}"></div>
          </ion-col>
          <ion-col size="2">
            <div class="circle" style="background-color: #f1c40f" (click)="selectColor('#f1c40f')"
              [ngClass]="{'selected': selectedColor === '#f1c40f'}"></div>
          </ion-col>
          <ion-col size="2">
            <div class="circle" style="background-color: #ff6b81" (click)="selectColor('#ff6b81')"
              [ngClass]="{'selected': selectedColor === '#ff6b81'}"></div>
          </ion-col>
          <ion-col size="2">
            <div class="circle" style="background-color: #00b894" (click)="selectColor('#00b894')"
              [ngClass]="{'selected': selectedColor === '#00b894'}"></div>
          </ion-col>
          
          <!-- Párrafo de Descripción -->
          <ion-col size="12">
            <p *ngIf="selectedColor" class="color-description">{{ getColorDescription(selectedColor) }}</p>
          </ion-col>

        </ion-row>
      </ion-card>

      <ion-card class="ion-padding">

        <ion-item>
          <ion-input labelPlacement="floating" label="Dirección URL" type="text"
            [formControl]="form1.controls.url"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Notas</ion-label>
          <ion-textarea rows="6" labelPlacement="floating" type="text" [formControl]="form1.controls.notes"
            placeholder="Escribe algo aquí"></ion-textarea>
        </ion-item>

      </ion-card>

      <ion-button expand="block" color="success" type="submit" mode="ios" [disabled]="form1.invalid">
        {{ task ? 'Actualizar tarea': 'Agregar tarea' }}
      </ion-button>

    </ion-grid>
  </form>

</ion-content>